allow rild radio_data:dir { search write remove_name getattr add_name setattr };
allow rild radio_data:file { write getattr setattr read create unlink open };
allow rild system_file:file execmod;
allow rild storage_file:dir search;
allow rild efs_block_device:blk_file read;
allow rild efs_device_file:dir search;
allow rild toolbox_exec:file { execute execute_no_trans getattr open read };
allow rild net_radio_prop:property_service set;
allow rild radio_data_file:dir { search write remove_name getattr add_name setattr };
allow rild radio_data_file:file { getattr ioctl lock open read write };
allow rild sysfs:file write;
allow rild vendor_file:file execmod;
allow rild shell_exec:file { getattr execute_no_trans execute open read };
allow rild system_file:file execmod;
allow rild vibrator_service:service_manager find;
allow rild vendor_file:file execmod;
allow rild dumpstate_prop:property_service set;
allow rild logcat_exec:file { execute execute_no_trans getattr open read };
allow rild system_data_file:dir read;
#allow rild system_data_file:file { getattr ioctl lock open read write };
allow rild dumpstate_exec:file { execute execute_no_trans getattr open read };
allow rild dumpstate_options_prop:file { getattr open read };
allow rild logd:unix_stream_socket connectto;
allow rild logdr_socket:sock_file write;
allow rild system_data_file:dir { add_name open write };
#allow rild system_data_file:file { append create getattr ioctl lock open read setattr write };
allow rild system_file:file execute_no_trans;
