allow servicemanager sysfs_cpuinfo:dir search;
allow servicemanager sysfs_cpuinfo:file { getattr open read };
allow servicemanager init:dir search;
allow servicemanager init:file { open read };
allow servicemanager init:process getattr;
allow servicemanager rild:dir search;
allow servicemanager rild:file { open read };
allow servicemanager rild:process getattr;
allow servicemanager zygote:dir search;
allow servicemanager zygote:file { open read };
allow servicemanager zygote:process getattr;
