allow zygote accessibility_service:service_manager find;
allow zygote activity_service:service_manager find;
allow zygote appops_service:service_manager find;
allow zygote audio_service:service_manager find;
allow zygote batteryproperties_service:service_manager find;
allow zygote batterystats_service:service_manager find;
allow zygote bluetooth_manager_service:service_manager find;
allow zygote connectivity_service:service_manager find;
allow zygote content_service:service_manager find;
allow zygote deviceidle_service:service_manager find;
allow zygote display_service:service_manager find;
allow zygote graphicsstats_service:service_manager find;
allow zygote input_method_service:service_manager find;
allow zygote keystore_service:service_manager find;
allow zygote lineage_hardware_service:service_manager find;
allow zygote mediaextractor_service:service_manager find;
allow zygote mediametrics_service:service_manager find;
allow zygote mediaserver_service:service_manager find;
allow zygote mount_service:service_manager find;
allow zygote network_management_service:service_manager find;
#allow zygote nfc_service:service_manager add;
allow zygote notification_service:service_manager find;
allow zygote power_service:service_manager find;
allow zygote radio_service:service_manager { find };
allow zygote registry_service:service_manager find;
allow zygote surfaceflinger_service:service_manager find;
allow zygote telecom_service:service_manager find;
allow zygote trust_service:service_manager find;
allow zygote usagestats_service:service_manager find;
allow zygote user_service:service_manager find;
allow zygote vibrator_service:service_manager find;
allow zygote vr_manager_service:service_manager find;
allow zygote wifi_service:service_manager find;
allow zygote country_detector_service:service_manager find;
allow zygote lineage_performance_service:service_manager find;
